body{
  margin: 0;
  padding: 0;
  width: 100%;
}

.surat {
  width: 100%;
}

.kop {
  width: 100%;
}

.lampiran p {
  text-align: right;
}

.lampiran table {
  width: 100%;
  border-collapse: collapse;
}

.lampiran table thead {
  background-color: black;
  color: white;
}

.lampiran table thead th {
  padding: 10px;
}

.lampiran table tbody td {
  border: 1px solid black;
  padding: 5px;
}

.center {
  text-align: center;
}

.footer {
  margin-top: 40px;
  page-break-inside: avoid;
}

.footer .first {
  margin: 0;
}

.footer .wrapper {
  display: inline-block;
}

.footer .left {
  width: 50%
}

.footer .right {
  width: 50%;
}

.footer .left .gelar, .footer .right .gelar {
  margin-bottom: 50px;
}